---
layout: default
title: Home
tagline: Supporting tagline
---
{% include JB/setup %}
<section id="home">
{% for post in site.posts limit:10 %}
<div class="page-header">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
</div>
<div class="row">
	<div class="span10">
	{% if post.excerpt %}
		<p>{{post.excerpt}}</p>
		<p class="pull-right"><a href="{{ post.url }}">阅读全文 &raquo; </a></p>
	{% else %}
		{{ post.content }}
	{% endif %}
	</div>
    <div class="span2 text_right">
		<time><i class="icon-time"></i> {{ post.date | date:"%b %e, %Y" }}</time>
		{% unless post.tags == empty %}
    	<ul class="tag_box">
    		{% assign tags_list = post.tags %}
    		{% include JB/tags_list %}
    	</ul>
  	  {% endunless %}  
  </div>
</div>
{% endfor %}
</section>

